.page .page__left {
  min-width: 75vw;
}

@media(min-width:576px) {
  .page .page__left {
    min-width: 50vw;
  }
}

@media(min-width:768px) {
  .page .page__left {
    min-width: 33vw;
  }
}

@media(min-width:992px) {
  .page .page__left {
    min-width: 25vw;
  }
}

.source-code pre {
  color: #dedede;
}

.source-code .dt {
 color:#dedede;
}

.source-code .dv {
 color: #ed8a68;
}

.source-code .cf {
 color:#2727af;
}

.source-code .bn {
 color:#17a2b8;
}

.source-code .fu {
 color: #f2e090;
}

.source-code .kw {
 color: cornflowerblue;
}

.source-code .pr {
 color:#dc3545;
}

.source-code .sy {
 color:#e83e8c;
}

.source-code .va {}

.source-code .cr {
 color:#6f42c1;
}

.source-code .op {
 color: #dedede;
}

.source-code .ch {
 color:#17a2b8;
}

.source-code .st {
 color: #ed8a68;
}

.source-code .it {
 color:#fd7e14;
}

.source-code .ra {
 color:#fd7e14;
}

.source-code .co {
 color:#6c757d;
}

.source-code .at {
  color: #f2e090;
}

.source-code .language-php .ot {
  color: #dedede;
}

.source-code .ot {
  color: cornflowerblue;
}